.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.portfolio > h1 {
    font-size: 50px;
}

.portfolioContainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolioContainer > .item {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.item > img {
    object-fit: cover;
    z-index: 0;
    opacity: 50%;
}

.item > h3 {
    position: absolute;
    font-size: 20px;
}


.gitOnlyIcon {
    position: absolute;
    bottom: 20px;
    color: white;
    text-decoration: none;
}

.duoIcon {
    position: absolute;
    bottom: 40px;
}

.duoIcon > a {
    color: white;
    text-decoration: none;
}
