.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px - 45px);
        background-color: gray;
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        // for firefox
        scrollbar-width: none;
        // for chrome
        &::-webkit-scrollbar {
            display: none;
        }

        >* {
            width: 100vw;
            height: calc(100vh - 70px - 45px);
            scroll-snap-align: start;
        }
    }
}